# Protect config files
<FilesMatch "\.(php|ini)$">
    Order Deny,Allow
    Deny from all
</FilesMatch>

# Enable CORS
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "POST, OPTIONS"

